@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <svg bootstrap-icon="SuitHeart" width="50" height="50" aria-label="Pesquisar"></svg>


</div>
